:root {
  --main-font: sans-serif;
  --font-size: 20px;
  --font-main-color: #000;
  --font-second-color: #111;
  --main-color: #e2c890;
  --second-color: #222;
  --main-background-color: #f0f8ff;
  --border-radius: 25px;
  --border-main-size: 5px;
  --border-second-size: 2px;
  --border-main-color: none;
  --border-second-color: #000a;
  --border-third-color: #0005;
  --logo: url("../../img/logo_zovalger_20220720.svg");
}

html {
  font-family: var(--main-font);
}

body.dark-theme {
  --main-color: #292929;
  --main-background-color: #000;
  --font-main-color: #fff;
  --border-main-color: #a200ff;
  --border-second-color: #8b8b8baa;
  --font-second-color: #f5f5f5;
}

* {
  font-size: var(--font-size);
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

button {
  border: none;
  padding: 3px;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  transition: background-color 1s;
  background-color: var(--main-background-color);
  color: var(--font-main-color);
  position: relative;
}
.app::before {
  content: "";
  position: absolute;
  top: 0%;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: var(--logo);
  background-size: 60% auto;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 20%;
}

.nav {
  display: flex;
  align-items: center;
  transition: background-color 1s;
  z-index: 100;
  background-color: var(--main-color);
}
.nav > span {
  font-size: 25px;
  margin-left: 10px;
}
.nav button {
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgba(0, 0, 0, 0);
  color: var(--font-main-color);
}
.nav button span {
  font-size: 40px;
  line-height: 100%;
}

.content {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.clock_container {
  background-color: none;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  transition: border-radius 0.5s, flex-grow 0.2s, box-shadow 0.7s, background-color 1s;
}
.clock_container .clock .time {
  font-size: 50px;
}
.clock_container .clock .sm {
  float: left;
  font-size: 30px;
}
.clock_container.list-open {
  background-color: var(--main-color);
  transition: border-radius 0.5s, flex-grow 1s, box-shadow 0.05s, background-color 1s;
  flex-grow: 0.1;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  border-bottom: var(--border-main-size) solid var(--border-main-color);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.partial-list {
  flex-grow: 0;
  height: 1px;
  display: flex;
  flex-direction: column;
  transition: flex-grow 0.5s;
  overflow: hidden;
}
.partial-list * {
  color: var(--font-second-color);
}
.partial-list.active {
  flex-grow: 1;
  margin: 16px 10px;
}
.partial-list .content > div,
.partial-list .headers {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  text-align: center;
  margin-bottom: 5px;
}
.partial-list .headers {
  border-bottom: var(--border-second-size) solid var(--border-second-color);
  border-radius: var(--border-radius);
  font-weight: 500;
  padding-bottom: 5px;
}
.partial-list .content {
  display: inline-flex;
  flex-direction: column-reverse;
  overflow-y: auto;
}
.partial-list .content > div:first-child {
  margin-bottom: auto;
}
.partial-list .content div .ms {
  font-size: small;
}

.controls_container {
  margin-top: auto;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  transition: border-radius 0.5s, box-shadow 0.7s, background-color 1s;
}
.controls_container.list-open {
  transition: border-radius 0.5s, box-shadow 0.1s, background-color 1s;
  background-color: var(--main-color);
  border-radius: 25px 25px 0 0;
  border-top: var(--border-main-size) solid var(--border-main-color);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.25);
}
.controls_container button {
  display: none;
  width: 5rem;
  height: 2.5rem;
  border-radius: 25px;
  background-color: rgba(119, 119, 119, 0.1333333333);
  color: var(--font-main-color);
}
.controls_container button.active {
  display: inline-block;
}
.controls_container button:active {
  background-color: rgba(119, 119, 119, 0.3333333333);
}
.controls_container button:disabled {
  background: rgba(119, 119, 119, 0);
}
.controls_container button span {
  font-size: 35px;
}
.controls_container .reset {
  color: red;
}/*# sourceMappingURL=app.css.map */