@mixin active($display) {
	display: none;

	&.active {
		display: $display;
	}
}

.app {
	// background-color: white;
	width: 100vw;
	height: 100vh;
	display: flex;
	overflow: hidden;

	position: relative;

	background-color: var(--main-color);

	flex-direction: column;
}

.controls {
	display: flex;
	// flex-direction: column;

	// flex-grow: 0.2;
	// padding: var(--margin-min);
	// padding-bottom: 1rem;

	justify-content: space-around;
	// max-width: calc(var(--button-square-size) + calc(var(--margin-min)));
	button {
		user-select: none;

		width: calc(var(--button-square-size) * 2);
		height: var(--button-square-size);
		

		&.selected {
			background-color: hsla(0, 0%, 50%, 0.25);
		}
	}
}

.app-section-container {
	// display: flex;
	// width: 100%;
	height: 1px;
	// flex: 1 1;
	flex-grow: 1;
	// border: 1px solid #000;
	// overflow-y: auto;
}

.header {
	@include active(flex);

	height: 50%;
	max-height: 25vh;
	padding: 2rem;

	align-items: center;
	justify-content: center;
	flex-direction: column;

	text-align: center;

	h2 {
		font-size: 30px;
	}
	p {
		font-size: 15px;
	}
}

.tools-bar-nav {
	// border: 1px solid rgb(0, 0, 0);

	// background-color: hsl(240, 85%, 79%);

	display: inline-flex;

	width: 100%;
	height: var(--nav-height);
	align-items: center;
	// justify-content: center;

	button {
		width: var(--nav-height);
		height: var(--nav-height);
		user-select: none;
	}

	.left {
		margin-right: auto;
		display: inline-flex;

		align-items: center;
		user-select: none;
	}

	.name {
		margin-left: var(--margin-min);
	}

	.header-search {
		// width: 100%;

		form {
			display: inline-flex;
			&.searching {
				input[type="search" i] {
					display: inline-block;
				}
			}
			// width: 100%;
		}

		input {
			// width: 100%;
			// width: 0;
			display: none;

			flex-grow: 1;
			// height: 100%;
			background-color: hsla(0, 0%, 0%, 0.496);
		}
	}
}

.app-section {
	// @include active(inline-flex);
	@include active(inline-flex);
	// display: none;

	flex-direction: column;

	// border: 1px solid rgb(255, 0, 0);
	width: 100%;
	height: 100%;
	// flex-grow: 1;

	position: relative;
	// flex-wrap: wrap;
}

.content {
	display: inline-block;
	width: 100%;
	flex-grow: 1;
	// height: calc(100% - var(--nav-height));
	// background-color: aqua;
	overflow: hidden;
	overflow-y: auto;
	border-radius: 25px;
	// margin: 0 0.5rem ;
}

.item-list {
	display: flex;

	align-items: center;
	margin: 0.5rem 0;
	padding: 1.5rem;
	border-radius: 25px;

	background-color: var(--second-color);
}

.btn-go-top-list {
	width: 2rem;
	height: 2rem;

	position: absolute;
	left: 0;
	right: 0;
	bottom: 20px;
	margin: auto;

	border-radius: 50%;

	background-color: hsla(0, 0%, 0%, 0.411);
	// span{
	// 	// font-size: 50px;
	// }
}
